.sideBar{
    display: flex;
    flex-direction: column;  /*Column Flexing*/
    flex: 0.35;  /*This will occupy 35% of the column*/
}

.sideBarHeader{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.sideBarRightHeader{
    display: flex;
    justify-content: space-between;
    min-width: 10vw;
    align-items: center;
}

.sideBarSearch{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}

.sideBarSearchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sideBarSearchContainer > .MuiSvgIcon-root{
    color: gray;
    padding: 10px;
}

.sideBarSearchContainer > input{
    border: none;
    outline: none;
    margin-left: 10px;
}

.sideBarChats{
    flex: 1;
    background-color: white;
    overflow: scroll;
}